.footer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 2%;
}


.owner, p {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    text-align: center;
}

a {
    font-size: 1em;
}