.header {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 220%;
    
}

.nav li a {
    padding: 5px;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.img {
    margin-top: 50px;
    left: 30%;
    padding-left: 10%;
    position: relative;
    align-self: center;
}


.row {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.img img {
    border: 3px solid $yellow;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    width: 100%;

}

.i{
    color: $yellow;
    font-size: 1.7em; 
    z-index: 3;
    position: absolute;
    bottom: 3.5%;
    text-align: center;
    left: 35%;
    padding: 5px;
}

.iB{
    color: $yellow;
    font-size: 2.1em; 
    z-index: 3;
    position: absolute;
    bottom: 3%;
    text-align: center;
    left: 60%;
    padding: 5px;
}




a {
    font-size: 20px;
}