.header {
    display: flex;
    flex-direction: row;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 700%;
    
}

.nav li a {
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

.img {
    margin-left: 50px;
    padding-top: 50px;
    padding-left: 105%;
}