.header {
    display: flex;
    flex-direction: row;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 650%;
    
}

.nav li a {
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

.img {
    margin-top: 50px;
    padding-left: 105%;
    position: relative;
}

// .img a {
//     z-index: 3;
//     position: absolute;
//     bottom: 5%;
//     text-align: center;
//     left: 120%;
//     font-size: 1em;
// }

.row {
    display: flex;
    flex-direction: row;
}

.img i{
    color: $yellow;
    font-size: 1em; 
    z-index: 3;
    position: absolute;
    bottom: 5%;
    text-align: center;
    left: 120%;
}

.img img {
    border: 3px solid $yellow;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;

}


a {
    font-size: 20px;
}