.privacy {
    text-align: center;
    margin: 50px 0;
    color: $yellow;
}

.subheading {
 text-align: start;
 font-family: $baseFont;
 margin: 20px 0;
}

.text {
    text-align: start;
    line-height: 1.7;
}