.privacy {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 80px;
    color: $yellow;
    font-family: $headerFont;
    font-size: 4em;
}

.subheading {
 text-align: start;
 font-family: $baseFont;
 margin: 20px 0;
}

.text {
    text-align: start;
    line-height: 1.7;
    margin: 40px 0;
}

.backButton {
    
    margin: 46%;
    margin-top: 40px;
    background-color: $black;
    color: $yellow;
    border: 2px solid $yellow;
    font-family: $baseFont;
    // box-shadow: 2px 2px 1px $yellow;
    padding: 10px 30px;
    font-size: 1em;
}

.backButton:active, .backButton:hover, .backButton:focus {
font-size: 1em;
border: 2px solid $black;
color: $black;
background-color: $yellow;
}