$bubble: darken($color: #e7feff, $amount: 1.5);
$headerFont: 'Dancing Script', cursive;
$baseFont: 'Explora', cursive;
$captionFont: 'Playfair Display', serif;


h1 {
    font-family: $headerFont;
}

h2 {
    font-family: $captionFont;
}

h3 {
    font-family: $captionFont;
}

p {
    font-family: $baseFont;
}

a {
    font-family: $captionFont;
}